<nav class="navbar navbar-light" id="navbar">
    <a id="logo" class="navbar-brand" href="#">
        <i class="fas fa-surprise"></i>
        <h3 class="float-right d-none d-sm-block m-2">
            mi<strong>Secreto</strong>
        </h3>
    </a>
    <div class="mr-3 d-block d-lg-none" id="search-bar-mobile">
        <form class="form-inline">
            <input class="form-control form-control-lg" type="search" placeholder="Buscar..." />
        </form>
    </div>
    <div id="navbar-buttons">
        <i class="d-block d-lg-none fas fa-pencil-alt mr-3" id="post-button"></i>
        <i class="fas fa-user-circle" id="user-panel-button"></i>
    </div>
</nav>