<aside id="filter-mobile" class="btn-group btn-group-lg container-fluid d-lg-none filter" role="filter"
    aria-label="filter">
    <a class="btn btn-outline-primary" href="/secretos?{{pages.term}}&sortby=id&order=desc">
        Nuevos
    </a>
    <a class="btn btn-outline-primary" href="/secretos?{{pages.term}}&sortby=votes&order=desc">
        Mejores
    </a>
    <a class="btn btn-outline-primary" href="/secretos?{{pages.term}}&sortby=votes&order=asc">
        Polémicos
    </a>
</aside>