<aside id="filter-mobile" class="btn-group btn-group-lg container-fluid d-lg-none filter" role="filter"
    aria-label="filter">
    <button type="button" class="btn btn-outline-primary">
        Nuevos
    </button>
    <button type="button" class="btn btn-outline-primary">
        Mejores
    </button>
    <button type="button" class="btn btn-outline-primary">
        Polémicos
    </button>
</aside>