<aside id="sidebar" class="d-none d-lg-block col-4 align-self-start">
    <div id="search-bar" class="mb-3">
        <form class="form">
            <input class="form-control" type="search" placeholder="Buscar..." />
        </form>
    </div>

    <div id="filter-desktop" class="container btn-group-lg btn-group-vertical mb-3 p-0 filter">
        <button type="button" class="btn btn-outline-primary">
            Nuevos
        </button>
        <button type="button" class="btn btn-outline-primary">
            Mejores
        </button>
        <button type="button" class="btn btn-outline-primary">
            Polémicos
        </button>
    </div>

    <div id="input-secretos" class="card text-white mb-3">
        <h5 class="card-header">Publicar un secreto:</h5>
        <div class="card-body p-0">
            <form class="m-1">
                <div class="form-row">
                    <div class="col mb-1 pr-0">
                        <input type="text" class="form-control" placeholder="Nombre" />
                    </div>
                    <div class="col mb-1 pr-0">
                        <select class="form-control">
                            <option selected>Género</option>
                            <option>N/A</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                    <div class="col mb-1">
                        <input type="text" class="form-control" placeholder="Edad: 18-100" />
                    </div>
                </div>
                <textarea class="form-control mb-1" placeholder="Escribí tu secreto..." rows="5"
                    style="resize: none;"></textarea>
                <button type="submit" class="btn btn-success w-100">
                    <strong>Enviar</strong>
                </button>
            </form>
        </div>
    </div>
</aside>