<aside id="sidebar" class="d-none d-lg-block col-4 align-self-start">
  <div id="search-bar" class="mb-3">
    <form class="form">
      <input class="form-control" type="search" placeholder="Buscar..." />
    </form>
  </div>

  <div
    id="filter-desktop"
    class="container btn-group-lg btn-group-vertical mb-3 p-0 filter"
  >
    <button type="button" class="btn btn-outline-primary">
      Nuevos
    </button>
    <button type="button" class="btn btn-outline-primary">
      Mejores
    </button>
    <button type="button" class="btn btn-outline-primary">
      Polémicos
    </button>
  </div>

  <div id="input-secretos" class="card text-white mb-3">
    <h5 class="card-header">
      Publicar un secreto:
    </h5>
    <div class="card-body p-0">
      <form class="m-1" action="secretos/add" method="POST">
        <div class="form-row">
          <div class="col mb-1 pr-0">
            <input
              type="text"
              name="author"
              class="form-control"
              placeholder="Nombre"
              minlength="2"
              maxlength="20"
              required
            />
          </div>
          <div class="col mb-1 pr-0">
            <select class="form-control" name="gender" required>
              <option value="" selected disabled>
                Género
              </option>
              <option value="N">
                N/A
              </option>
              <option value="M">
                Masculino
              </option>
              <option value="F">
                Femenino
              </option>
            </select>
          </div>
          <div class="col mb-1">
            <input
              type="number"
              name="age"
              class="form-control"
              min="18"
              max="100"
              placeholder="Edad: 18-100"
              required
            />
          </div>
        </div>
        <textarea
          name="content"
          class="form-control mb-1"
          placeholder="Escribí tu secreto..."
          rows="5"
          style="resize: none;"
          minlength="20"
          maxlength="500"
          required
        ></textarea>

        <button type="submit" class="btn btn-success w-100">
          <strong>
            Enviar
          </strong>
        </button>
      </form>
    </div>
  </div>
</aside>