<nav class="navbar navbar-light" id="navbar">
    <a id="logo" class="navbar-brand" href="#">
        <img src="./img/secret2.png" width="36" height="36" alt="" />
        <h3 class="d-none d-sm-block">mi<strong>Secreto</strong></h3>
    </a>
    <div id="search-bar">
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Buscar..." />
        </form>
    </div>
    <div id="post-button"><img src="./img/post.png" alt="" /></div>
    <div id="user-panel-button"><img src="./img/user.png" alt="" /></div>
</nav>

<aside id="filter" class="btn-group container" role="filter" aria-label="filter">
    <button type="button" class="btn btn-outline-primary">
        Nuevos
    </button>
    <button type="button" class="btn btn-outline-primary">
        Mejores
    </button>
    <button type="button" class="btn btn-outline-primary">
        Polémicos
    </button>
</aside>

<main id="feed"></main>