#navbar {
  background-color: #016fb9;
}

#logo i {
  font-size: 2em;
  color: #d8be4d;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

/* #sidebar {
  background-color: rgb(65, 107, 145);
} */

#post-button {
  float: left;
  font-size: 1.5em;
}

#user-panel-button {
  float: right;
  font-size: 1.5em;
}

/* Card properties for "secretos" */

.secreto {
  background-color: #a1a1a1;
  color: #414141;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.male {
  /* background-color: rgb(162, 181, 247); */
  background-color: #73cfe6;
  color: #267f96;
}

.female {
  background-color: rgb(255, 215, 222);
  color: rgb(247, 94, 120);
}
.secreto .card-header {
  font-size: 1.2em;
}

.secreto .card-body {
  background-color: rgb(235, 235, 235);
  color: #000;
  font-size: 1.1em;
}

.secreto .card-footer {
  background-color: #dddddd;
  color: rgb(116, 116, 116);
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

.secreto .card-footer i {
  font-size: 1.5em;
}

/* Mobile utilities */
#search-bar-mobile {
  width: 30%;
}

#search-bar-mobile input {
  width: 100%;
}

#filter-mobile .btn {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Desktop sidebar */

#search-bar {
  background-color: #6d8ea0;
  border: 1px solid #6d8ea0;
  border-radius: 5px;
}

.filter .btn {
  color: #182825;
  border-color: #6d8ea0;
  overflow: hidden;
}

.filter .btn:hover {
  background-color: #016fb9;
  color: #fff;
}

.filter .btn:active {
  background-color: #016fb9 !important;
  color: #fff;
  border-color: #016fb9 !important;
}

#input-secretos {
  background-color: #6d8ea0;
}

/* Submit Button */
.btn-success {
  background-color: rgb(0, 0, 0, 10%);
  border-color: rgb(0, 0, 0, 10%);
}

.btn-success:hover {
  background-color: rgb(0, 0, 0, 20%);
  border-color: rgb(0, 0, 0, 20%) !important;
  box-shadow: none !important;
}

.btn-success:active {
  background-color: rgb(0, 0, 0, 20%) !important;
  border-color: rgb(0, 0, 0, 20%) !important;
  box-shadow: none !important;
}

.btn-success:focus {
  background-color: rgb(0, 0, 0, 20%) !important;
  border-color: rgb(0, 0, 0, 20%) !important;
  box-shadow: none !important;
}

/* Queries */
@media (min-width: 320px) {
  #search-bar-mobile {
    width: 50%;
  }
}

@media (min-width: 576px) {
  #search-bar-mobile {
    width: 39%;
  }

  #navbar-buttons {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  #search-bar-mobile {
    width: 50%;
  }

  #feed {
    padding: 0 1em !important;
  }
}
